{% extends "layout.html" %}
{% block body %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for course in course_list %}
    <div class="col">
        <div class="card" style="width: 18rem; margin-bottom: 1rem;">
            <div class="card-body">
                <h5 class="card-title">{{ course.course_title }}</h5>
                <p class="card-text">{{ course.course_description }}</p>

                <a href="{% url 'view_course' course.id %}" class="card-link">Start Learning</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}